*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.top{
    background-image: url(images/bg1.png);
    background-size: cover !important;
    background-repeat: no-repeat;
    min-height: 52vw;
    max-width: 100vw;
    scroll-snap-align: center;
}
.nav{
    background: #2e2e2f9d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.logo img{
    height: 60px;
}
.logo{
    padding-left: 60px;
    width: 30%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 30%;
    padding: 0;
}
ul li{
    padding: 0 20px;
    list-style: none;
    background: #000;
}
ul li a{
    font-size: 18px;
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: .2s ease-in;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
ul li a:hover{
    color: white;
    font-size: 20px;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: wheat;
    margin: 5px;
    transition: all 0.3s ease;
}

/*------------- Section #about ----------------*/

section#about{
    padding: 11%;
}
.who{
    text-align: center;
}
.who h1{
    font-size: 36px;
    color: wheat;
    font-family: 'cairo', sans-serif;
    padding: 15px;
}
.who p{
    font-size: 20px;
    font-family: 'cairo', sans-serif;
}
.container{
    margin: 50px 0;
}

/*------------- Section #services ---------------- */

section#services{
    background: rgb(88, 81, 81);
}
.title {
    text-align: center;
    margin: 60px 0;
    padding: 0 9%;
}
.title h1{
    color: wheat;
    font-family: 'cairo', sans-serif;
    padding: 0 15px;
    font-size: 36px;
}
.title p{
    font-size: 20px;
    color: black;
    font-family: 'cairo', sans-serif;
}

.services-show{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5% 5%;
    transition: all .25s ease-in;
}
.service{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 20px;
}
.slide{
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.slide .img-box{
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.slide .img-box img{
    max-width: 100%;
    transition: transform 2s;
}
.slide:hover .img-box img{
    transform: scale(1.2);
}
.slide .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    padding: 20% 10px;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease-in;
}
.slide:hover .details{
    opacity: 1;
}
.slide .details h2{
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
.slide .details p{
    color: white;
    padding: 0;
    margin: 0;
}
.des{
    width: 100%;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.des h1{
    font-family: 'cairo', 'sans-serif';
    font-size: 20px;
    color: black;
}
  
  .skewed-bg {
      background: white;
      color: #FFF;
      padding: 2em;
      position: relative;
      min-height:300px;
      overflow:hidden;
      border: none;
  }
  .skewed-bg::after {
    content: '';
    position: absolute;
    top: 50%; left: 0; right: 0;
    height:100%;
    background: rgb(88, 81, 81);
    transform: skew(0deg, -3deg);
  }